{
    "presets": [["env", { "modules": false }], "es2015", "stage-3"],
    "plugins": ["transform-runtime"],
    "comments": false,
    "env": {
        "test": {
            "presets": [
                ["env", { "targets": { "node": "current" }}, "es2015", "stage-3"]
            ],
            "plugins": [
                "transform-vue-jsx",
                "transform-es2015-modules-commonjs",
                "dynamic-import-node",
                "transform-export-extensions",
                "transform-runtime",
                "istanbul"
            ]
        }
      }
}
